<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div>

        <header class="header-background">

            <div class="clearfix border-bottom-thick header-border">
                <ul class="list-reset right py-1 header-text font-smoothing">
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li class="inline-block">
                        <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="container mx-auto px-2 mb-2 clearfix header-text">
                <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

                <div class="clearfix mb-4 py-1">
                    <div class="col-4 sm-width-full left border-top-thin">
                        <div class="table">
                            <div class="inline-block mt-3 mr-1">
                                {% include civic-data-alliance-join.html %}
                            </div>
                            <div class="inline-block mt-3">
                                {% include github.html %}
                            </div>
                        </div>
                        <!-- Set site description in config.yml -->
                        <p class="h3 lh-condensed font-smoothing mt-2 py-1">{{ site.description}}
                        </p>
                    </div>

                    <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                        <div class="inline-block mt-3 mr-1">
                            {% include {{ site.social_link | default: "twitter" }}.html %}
                        </div>
                        <div class="inline-block mt-3 mr-1">
                            {% include instagram.html %}
                        </div>
                        <div class="inline-block mt-3 mr-1">
                            {% include meetup.html %}
                        </div>
                        <a class="link-primary" href="https://cda2.typeform.com/to/zTNiLP" target="_blank">
                            <p class="h3 lh-condensed font-smoothing mt-2 py-1">JOIN US</p>
                        </a>
                    </div>
                </div>

            </div>
        </header>

        <main class="container mx-auto px-3 py-4">

            <section class="mb-5">
                <h2 class="mt-4 mb-3">What we do</h2>
                <p class="lead">The Civic Data Alliance is Louisville's civic tech organization. We advocate for inclusion, diversity, equity, accessibility, openness, transparency and accountability in government, civic tech and open data.</p>
                <p>We work to ethically liberate, improve, gather, define and report on public data, and to grow an inclusive civic tech community.</p>
            </section>

            <section class="row mb-5">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Get Involved</h5>
                            <p class="card-text">Volunteers of every skill level are welcome: coders, designers, researchers, organizers and curious neighbors.</p>
                            <div class="mt-auto">
                                <a href="{{ site.join_link }}" class="btn btn-danger" target="_blank" rel="noopener">Join us</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Projects</h5>
                            <p class="card-text">Open source tools, maps and datasets built by our community. Everything we make lives on GitHub.</p>
                            <div class="mt-auto">
                                <a href="{{ '/projects/' | prepend: site.baseurl }}" class="btn btn-danger">Browse projects</a>
                                <a href="https://github.com/{{ site.github_username }}" class="btn btn-outline-dark ml-1" target="_blank" rel="noopener">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Our Values</h5>
                            <p class="card-text">Ethical, accountable open data practices and a welcoming community. All members and participants follow our Code of Conduct.</p>
                            <div class="mt-auto">
                                <a href="{{ '/about/' | prepend: site.baseurl }}" class="btn btn-danger">About us</a>
                                <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/blob/master/CODE_OF_CONDUCT.md" class="btn btn-outline-dark ml-1" target="_blank" rel="noopener">Code of Conduct</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <hr>

            <section class="mt-5">
                <p class="text-muted text-uppercase small mb-1">Archive &middot; 2020</p>
                <h2 class="mb-3">COVID-19 Community Mapping Project</h2>
                <p>In early 2020 our volunteers mapped local COVID-19 cases across the Kentucky area. The map and data below are preserved as a historical record and are no longer updated. The project source is on GitHub at <a href="https://github.com/civicdata/ky-area-covid-19">civicdata/ky-area-covid-19</a>.</p>

                <div id="map" style="max-width: 1440px; height: 50em;"></div>

                <p class="mt-3">Data was sourced from:</p>
                <ul>
                    <li><a href="https://chfs.ky.gov/agencies/dph/pages/covid19.aspx">CHFS.ky.gov</a></li>
                    <li><a href="https://www.lexingtonky.gov/coronavirus-response">lexingtonky.gov</a></li>
                    <li><a href="https://www.cynthianademocrat.com/content/harrison-county-ground-zero-first-covid-19-case-kentucky">Cynthiana Democrat</a></li>
                    <li><a href="https://www.courier-journal.com/story/news/local/2020/03/10/coronavirus-beshear-wants-kentucky-nursing-homes-restrict-visits/5006147002/">The Courier Journal</a></li>
                    <li><a href="https://github.com/civicdata/ky-area-covid-19/blob/master/README.md">And all the links in the project README</a></li>
                </ul>
            </section>

        </main>

    </div>

    {% include footer.html %}

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2l2aWNkYXRhYWxseSIsImEiOiI2ZGJjZTIyN2FjODA1MWUwNTM2NGVkMDJkOTg1ZGEzMiJ9.knVrcTIOM6xUxCOqtyFcaw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/civicdataally/ck7mjpne200cv1ilhrqh4vmn1'
        });
    </script>

</body>

</html>
