<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    <div>

        <header class="header-background">

            <div class="clearfix border-bottom-thick header-border">
                <ul class="list-reset right py-1 header-text font-smoothing">
                    {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li class="inline-block">
                        <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="container mx-auto px-2 mb-2 clearfix header-text">
                <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

                <div class="clearfix mb-4 py-1">
                    <div class="col-4 sm-width-full left border-top-thin">
                        <div class="table">
                            <div class="inline-block mt-3 mr-1">
                                {% include civic-data-alliance-join.html %}
                            </div>
                            <div class="inline-block mt-3">
                                {% include github.html %}
                            </div>
                        </div>
                        <!-- Set site description in config.yml -->
                        <p class="h3 lh-condensed font-smoothing mt-2 py-1">{{ site.description}}
                        </p>
                    </div>

                    <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                        <div class="inline-block mt-3 mr-1">
                            {% include {{ site.social_link | default: "twitter" }}.html %}
                        </div>
                        <div class="inline-block mt-3 mr-1">
                            {% include instagram.html %}
                        </div>
                        <div class="inline-block mt-3 mr-1">
                            {% include meetup.html %}
                        </div>
                        <a class="link-primary" href="https://cda2.typeform.com/to/zTNiLP" target="_blank">
                            <p class="h3 lh-condensed font-smoothing mt-2 py-1">JOIN US</p>
                        </a>
                    </div>
                </div>

            </div>
        </header>

        <div class="container mx-auto py-4">
            <div class="row mb-5">
                <h1 class="col-12 mt-2 ml-n3">Support Local Grassroots Organizers</h1>
                <p>One quick and simple way to support your local community grassroots organizations is to help fund them. They are out every single day, helping build community, doing the work that benefits us all. They need our support and funding.</p>
                <p>Give what you can today, and make it a recurring donation, please.
            </p>
        </div>

    <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Louisville Community Bail Fund</h5>
                    <h6 class="card-subtitle mb-2 text-muted">sponsored by Stand Up Sundays</h6>
                    <p class="card-text">Black Lives Matter, Louisville, Kentucky chapter. Support the Louisville chapter today. <a href="https://twitter.com/BLMLouisville">Follow @BLMLouisville</a></p>
                    <div class="text-center">
                        <a href="https://actionnetwork.org/fundraising/louisville-community-bail-fund/" class="card-link"><button type="button" class="btn btn-lg btn-danger">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Justice for Breonna Taylor</h5>
                    <h6 class="card-subtitle mb-2 text-muted">GoFund Me</h6>
                    <p class="card-text">Official GoFundMe that Breonna Taylor's family set up.<br> Donate and share today.</p>
                    <div class="text-center">
                        <a href="https://gf.me/u/x6ngqj" class="card-link"><button type="button" class="btn btn-lg btn-danger">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Root Cause Research Center</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Unearth the whole cause</h6>
                    <p class="card-text">Data Equity, Movement Science, Abolitionist Planning<br><a href="https://twitter.com/RootResearch">Follow @RootResearch</a></p>
                    <div class="text-center">
                        <a href="https://www.rootcauseresearch.org" class="card-link"><button type="button" class="btn btn-lg btn-danger">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Breonna Taylor Park</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Change.org petition</h6>
                    <p class="card-text">Help rename Jefferson Square Park to Breonna Taylor Park by signing and sharing this petition.</p>
                    <div class="text-center">
                        <a href="https://www.change.org/p/matt-bevin-rename-jefferson-square-park-to-breonna-taylor-park" class="card-link"><button type="button" class="btn btn-lg btn-danger">Sign Now</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">M4BL</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Movement for Black Lives</h6>
                    <p class="card-text">A space for Black organizations nationwide to debate/discuss/co-create. <a href="https://twitter.com/Mvmnt4BlkLives">Follow @Mvmnt4BlkLives</a></p>
                    <div class="text-center">
                        <a href="https://m4bl.org/events/m4bl-national-call-in-defense-of-black-life/" class="card-link"><button type="button" class="btn btn-lg btn-danger">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">TGM General Fund</h5>
                    <h6 class="card-subtitle mb-2 text-muted">The Gumball Machine</h6>
                    <p class="card-text">Supporting Black women and MaGes and their children via direct giving.<br><a href="https://www.patreon.com/ReparationsRoundtable">Reparations Roundtable</a></p>
                    <div class="text-center">
                        <a href="https://www.paypal.com/pools/c/8lv0NZmicl" class="card-link"><button type="button" class="btn btn-lg btn-danger">Donate Now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<hr>
            <h2 class="lh-condensed col-12 mt-5 ml-n3">Local COVID-19 Cases Community Mapping Project</h2>
            <p>Contribute on Github at <a href="https://github.com/civicdata/ky-area-covid-19">https://github.com/civicdata/ky-area-covid-19</a></p>
            <p><a href="https://chfs.ky.gov/agencies/dph/pages/covid19.aspx">Kentucky COVID-19 Website</a> | COVID-19 Hotline <a href="tel:1-800-722-5725">1-800-722-5725</a></p>
            <p>For the latest information and prevention updates, <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">visit the Centers for Disease Control and Prevention</a></p>
            <div id='map' style='max-width: 1440px; height: 50em;'></div>

            <p>Data,thus far, has been sourced from:
                <ul>
                    <li>
                        <a href="https://chfs.ky.gov/agencies/dph/pages/covid19.aspx">CHFS.ky.gov</a>
                    </li>
                    <li>
                        <a href="https://www.lexingtonky.gov/coronavirus-response">lexingtonky.gov</a>
                    </li>
                    <li>
                        <a href="https://www.cynthianademocrat.com/content/harrison-county-ground-zero-first-covid-19-case-kentucky">Cynthiana Democrat</a>
                    </li>
                    <li>
                        <a href="https://www.courier-journal.com/story/news/local/2020/03/10/coronavirus-beshear-wants-kentucky-nursing-homes-restrict-visits/5006147002/">The Courier Journal</a>
                    </li>
                    <li>
                        <a href="https://github.com/civicdata/ky-area-covid-19/blob/master/README.md">And all the links in our README</a>
                    </li>
                </ul>
            </p>

        </div>

    </div>

    {% include footer.html %}

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY2l2aWNkYXRhYWxseSIsImEiOiI2ZGJjZTIyN2FjODA1MWUwNTM2NGVkMDJkOTg1ZGEzMiJ9.knVrcTIOM6xUxCOqtyFcaw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/civicdataally/ck7mjpne200cv1ilhrqh4vmn1'
        });
    </script>

</body>

</html>
